/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";




@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 17.38);
  --color-base-200: oklch(93% 0.032 17.717);
  --color-base-300: oklch(88% 0.062 18.334);
  --color-base-content: oklch(39% 0.141 25.723);
  --color-primary: oklch(71% 0.194 13.428);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(25% 0.092 26.042);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(85% 0.138 181.071);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}
